# --- Miscellaneous & OS Generated ---
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# --- IDE/Editor files ---
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# --- Flutter/Dart/Pub related ---
**/doc/api/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/

# --- Platform Specific Registrants (sync fix) ---
**/ios/Runner/GeneratedPluginRegistrant.*
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/app/src/main/kotlin/io/flutter/plugins/GeneratedPluginRegistrant.kt
**/lib/generated_plugin_registrant.dart
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/windows/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugin_registrant.*
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/generated_plugins.cmake/

# --- iOS/macOS Specific ---
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Runner.xcworkspace/
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/

# --- Android Specific ---
android/.gradle/
android/app/build/
android/app/intermediates/
android/app/outputs/
/android/app/debug
/android/app/profile
/android/app/release

# Firebase configuration files (Project-specific)
lib/firebase_options.dart
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
macos/Runner/GoogleService-Info.plist

# --- Build Artifacts (APKs, Bundles, Symbols) ---
*.apk
*.aab
app.*.symbols
app.*.map.json

# --- Environment & Secrets ---
.env

# FVM Version Cache
.fvm/

# FVM
.fvm/flutter_sdk